    /* Fonts */
    /* The given fonts are paid , that why used font poppins */
    *{
        font-family: "Poppins", sans-serif;
    }
    
    /* Header Styles */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 80px;
    }
    .logo {
        padding: 0px 30px;
        border-left: 1px solid rgb(224, 201, 201);
        border-right: 1px solid rgb(224, 201, 201);
    }
    .the-image{
        height: 72;
        width:180px;
    }

/* Navigation Links */
    .nav {
        display: flex;
    }

    .nav a {
      text-decoration: none;
    }

    .nav-anchor{
        color: #011332;
        margin-right: 25px;
        font-size: 18px;
    }
    

    .nav a:hover {
      color: #9231ec;
    }

    /* Dropdown menu */
    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
    }

    .dropdown-menu a {
        display: block;
        padding: 8px 15px;
        color:black;
      text-decoration: none;
      font-size: 13px;
    }

    .dropdown-menu a:hover {
      background-color: #a3b8ce;
    }

    /* Dropdown when hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    /* Call now */
    .call {
        display: block;
        border:0;
        background-color: white;
    }

    .call a {
        text-decoration: none;
    }

    .call-now {
        font-size: 18px;
        color: #011332;
        margin-bottom: 0;
    }

    .phone {
        color: #B8143D;
        font-weight: 700;
        font-size: 25px;
        margin-top: 0;
    }

 /* Main styles */
 /* You have rights we protect them part styles */
 .your-rights {
    background-color: #F5F2F3;
    margin-left: 30px;
    display: flex;
    gap: 20px;
    padding-top: 50px;
    padding-right: 0;
    
 }

.social-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 10px;
    margin-bottom: 300px;
}
.social-icons{
    display: block;
}
.social-border {
    border: 1px solid rgba(184, 20, 61, 0.15);
    border-radius: 8px;
    padding:0px 3px;
}

.south-corolina {
    color: rgb(188, 20, 62);
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 0;
}
.have-rights {
    color: #000000;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.protect{
    color: #B8143D ;
}

.firm-description{
    color: #000000;
    font-size: 18px;
    margin-top: 0;
    max-width: 500px;
}

.free-consultation{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}

.number{
    color: #FFFFFF;
    
    font-weight: 600;
    font-size: 27px;
}

.colsultation{
    background-color: #B8143D;
    padding: 10px;
    width: 350px;
    margin-top: 50px;
}

.two-pic{
    padding-right: 0;
    margin-right: 0;
    display: flex;
}
.flag{
    padding-top: 350px;
}
.social-sidebar{
    
    padding-left: 20px;
    padding-top: 50px;
}
.man-pic{
    max-width: 200px;
}
/* 7 Logos */
.seven-logos{
    padding: 0px 10px;
    display: flex;
    margin-top: 40px;
    gap: 15px;
}

.image-div{
    
    border: 0.9px solid rgba(0, 0, 0, 0.15);
    border-radius: 7.17px;
    width: 230px;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* SOUTH CAROLINA CRIMINAL DEFENsE  & Personal Injury LAWYER section styles */
.criminal-defense-details{
    background: rgb(245, 242, 243);
    padding: 100px 80px;
    display: flex;
    gap: 100px;
    margin-top: 40px;
}
.south-carolina-heading{
    font-size: 40px;
    color: #BD163E;
}
.black-color{
    color: #000000;
}
.blue-text{
    color: Blue;
    font-size: 20px;
    font-weight: 550;
    border-left: 2.64px solid Blue;
    padding-left: 15px;
}
.para-details{
    color: rgb(0, 0, 0);
}
.building-pic{
    height: 615px;
}
.tik-mark{
    height: 615px;
    position: absolute;
    left: 815px;
    opacity: 0.3;
}
/*  Criminal Defense practice areas Styles */
.practice-area{
    margin: 50px 80px;
    display: flex;
    gap: 170px;
}
.defense-headline{
    font-size: 40px;
    color: rgb(188, 20, 62);
    margin-top: 0;
}
.practice-area span{
    color: rgb(0, 0, 0);
}
.defense-para{
    font-size:15px ;
    max-width: 600px;
    margin-top: 40px;
}

/* Crimes */
.all-images{
    display: flex;
    gap: 10px;
}
.crime-card{
    
    position: relative;
    overflow: hidden;
  border-radius: 10px;
}
.third-div img {
    width: 100%;
    height: 860px;
}

  .crime-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    
  }
 .image-margin{
    margin-top: 30px
 }

/* Get a FREE Consultation Now  */
.free-consultation-m{
    background-color: rgb(1, 37, 100);
    display: flex;
    gap: 100px;
    margin: 100px;
    padding: 30px 50px;
    margin-bottom: 0;
}
.free-consultation-heading{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 0;
}
.red-color-text{
    color: rgb(184, 20, 61);
}
.free-consultation-para{
    font-size: 20px;
    margin-top: 0px;
    color: white;
}
  
.free-consultation-number{
    color: rgb(184, 20, 61);
    font-size: 50px;
    margin-top: 0;
}
.free-consultation-para-number{
    padding-top: 80px;
}
/* Why choose the woods law firm */

.woods-law-firm{
    background-color: rgb(231, 235, 244);
    padding-top: 100px;
}

.why-choose{
    margin: 50px 185px;
}
.why-choose-heading{
    font-size: 40px;
    text-align: center;
}
.our-attorneys{
    text-align: center;
}
.question-answer{
    display: flex;
    margin: 50px  100px;
    gap: 90px;
}
.questions{
    color: rgb(26, 26, 26);
    font-size: 25px;
}
.answers{
    font-size: 15px;
}
.answers p{
    max-width: 500px;
}
.second-question{
    margin-top: 105px;
    margin-bottom: 180px;
}

/* Review styles */
.review{
    background-color: rgb(1, 38, 101);
    display: flex;
}
.left-div{
    max-width: 45%;
    padding: 30px;
}
.left-div h3{
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.red-color{
    color: rgb(186, 17, 59);
}
.left-div p{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.core-clients-logo-border{
    border: 0.8px solid rgb(24, 72, 155);
}
.core-clients-flex{
    display: flex;
    gap: 10px;
}
.core-clients-logo div{
    margin-bottom: 10px;
    padding: 20px;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Review Slider */
.slider-container {
    width: 90%;
    max-width: 600px;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    height: 500px;
    margin-top: 100px;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.review-card {
    background: rgb(1, 38, 101);
    color: white;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-height: 120px;
}

  .review-card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
  }

  .review-card p {
    margin: 0 0 1rem;
    font-size: 0.9rem;
    color: #d6d6d6;
    line-height: 1.4;
  }

  .review-author {
    font-weight: bold;
  }

  .review-stars {
    color: gold;
    font-size: 1rem;
  }
  .name-and-review{
    display: flex;
    justify-content: space-between;
  }
/* Our blog section styles*/
.blog{
    margin: 0px 70px;
}
.our-blog h2{
    font-size: 45px;
}
.our-blog{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.btn-view-all{
    background-color: rgb(184, 20, 61);
    color: white;
    font-size: 25px;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
}
.btn-view-all a{
    text-decoration: none;
    color: white;
}
/* Image part */
.our-blog-images{
    display: flex;
    gap: 15px;
}


.our-blog-image-one{
    background-image: url("Images/Rectangle\ 25479.png");
    color: white;
}

.our-blog-images h3{
    font-size: 30px;
}
.our-blog-image-one, .our-blog-image-two, .our-blog-image-three{
    width: 33%;
    padding: 15px;
}
.our-blog-image-two img, .our-blog-image-three img{
    width: 100%;
}
.our-blog-image-date{
    font-size:18px;
    font-weight: 600;
}

    
/* Google Map styles */
.google-map-main{
    position: relative;
}
.google-map{
    margin-top: 50px;
    position: relative;
}
.google-map-logo{
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 4px 0px rgba(48, 48, 48, 0.25);
    border-radius: 100%;
    background-color: white;
    padding: 30px;
}
.google-map-logo-container{
    position: absolute;
    top: 188px;
    left: 550px;
}  
.google-map-image{
    max-width: 100%;
}  
    
/* Cards style */
.contact-cards{
    display: flex;
    margin: 0px 50px;
    position: absolute;
    top: 6700px;
}
.card-1{
    background: rgb(255, 232, 238);
    border-top: 3.6px solid rgb(188, 20, 62);
}
.contact-cards div{
    padding: 20px;
}
.contact-cards h3{
    font-size: 30px;
}
.contact-cards h6{
    font-size: 15px;
    font-weight: 550;
}
.contact-cards p{
    color: rgb(26, 26, 26);
}
.contact-cards h5{
    color: rgb(186, 17, 59);
    font-size: 20px;
    margin-top: 0;
}
.card-3-btn{
    margin-top: 0;
}
.card-3-address{
    margin-bottom: 0;
}
.card-1-btn {
    margin-top: 12px;
}
.card-free-consultation{
    margin-bottom: 0;
}
.contact-cards a{
    text-decoration: none;
    color: rgb(186, 17, 59);
    font-weight:600 ;
}
.contact-cards button{
    padding: 10px 20px;
    border-radius:10px;
}
.card-1 button{
    background-color:rgb(255, 232, 238) ;
    border: 0.91px solid rgb(235, 71, 112);
}
.btn-3{
    border: 0.91px solid rgba(0, 0, 0, 0.16);
    background-color: white;
}
.card-2, .card-3{
    box-shadow: 0px 1.69px 2.88px 0px rgba(0, 0, 0, 0),0px 7.45px 5.96px 0px rgba(0, 0, 0, 0.01),0px 18.28px 11.88px 0px rgba(0, 0, 0, 0.01),0px 35.21px 23.29px 0px rgba(0, 0, 0, 0.01),0px 59.25px 42.83px 0px rgba(0, 0, 0, 0.02),0px 91.41px 73.13px 0px rgba(0, 0, 0, 0.02);
}
.card-2, .card-3, .card-4{
    background-color: white;
}

/* Footer styles */
.footer-section{
    display: flex;
    gap: 60px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding-bottom: 30px;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons div{
    border: 1.66px solid rgba(206, 206, 206, 0.46);
    border-radius: 13.29px;
    padding: 10px 15px;
    background: rgba(243, 243, 243, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-wood-law-firm p{
    color: white;
    font-weight: 200;
    max-width: 300px;
    margin-bottom: 30px;
}
.quick-links-row-one h5{
    color: white;
    font-size: 18px;
}
.quick-links-row-one a, .quick-links-row-two a{
    color: white;
    text-decoration: none;
}
.media{
    margin-top: 85px;
    margin-bottom: 25px;
}
.quick-links-row-one p{
    margin-bottom: 23px;
}
.tesimonials{
    margin-bottom: 0;
    margin-top: 0;
}
.join-newsletter{
    background: rgba(242, 242, 242, 0.2);
    padding: 30px;
    color: white;
    border: 2px dashed rgba(242, 242, 242, 0.4);
}
.join-newsletter h5{
    
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
}
.input-email{
    padding: 10px;
    width: 90%;
}
.join-newsletter button{
    
    background-color: rgb(186, 17, 59);
    padding: 16px 22px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}
.join-newsletter a{
    color: white;
    text-decoration: none;
}
.join-newsletter p{
    font-size: 17px;
}
.footer{
    background: rgb(1, 37, 100);
    padding: 300px 30px 50px 50px;
}
.footer-anchor, .footer-anchor a{
    color: white;
}
.back-top{
    color: rgb(186, 17, 59);
}
.footer-done{
    display: flex;
    justify-content: space-between;
}


/* Responsive */

@media (max-width: 576px) {
    
    /* Header styles */
    .header {
        display: block;
    }
    .logo{
        margin-bottom: 45px;
    }
    .nav-anchor{
        font-size: 15px;
        
    }
    .dropdown {
        margin-right: 25px;
    }
    .call{
        margin: 20px 40px;
    }
    
    /* Main  */
    /* You have rights we protect them part */
    .your-rights {
        display: block;
    }
    .social-text {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        margin-bottom: 25px;
        margin-left: 130px;
    }
    .social-icons{
        display: flex;
        gap: 30px;
        margin-top: 25px;
        margin-left: 5px;
    }
    .social-border {
        border-radius: 5px;
        padding:20px 20px;
    }
    .have-rights {
        font-size: 40px;
        font-weight: 600;
        margin: 20px 50px;
    }
    .colsultation{
        
        padding: 40px;
        width: 300px;
        
        margin-top: 50px;
        margin-left: 30px;
    }
    .man-pic img{
        max-width: 500px;
    }
    .flag img{
        visibility: hidden;
    
    }
    .seven-logos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .image-div{
        width: 200px;
        height: 100px;
        
    }
    /* SOUTH CAROLINA CRIMINAL DEFENsE  & Personal Injury LAWYER section styles */
    .criminal-defense-details{
        
        padding: 40px 20px;
        display: block;
        
    }
    .south-carolina-heading{
        font-size: 30px;
        
    }
    .blue-text{
        font-size: 17px;
        
    }
    .tik-mark{
        visibility: hidden;
    }
    /* Criminal Defense practice areas Styles */
    .practice-area{
        margin: 50px 40px;
        display: block;
        
    }
    .all-images{
        display: block;
        
    }
    /* Get a FREE Consultation Now  */
    .free-consultation-m{
        display: block;
        margin: 0px;
        padding: 10px 20px;
        
        
    }
    .free-consultation-heading{
        
        font-size: 40px;
        
    }
    /* Why choose the woods law firm */
    .woods-law-firm{
        background-color: rgb(231, 235, 244);
        padding-top: 20px;
    }
    .why-choose{
        margin: 10px 20px;
    }
    .question-answer{
        display: flex;
        margin: 10px  20px;
        gap: 20px;
    }
    .questions{
       
        font-size: 20px;
    }
    .second-question{
        margin-top: 275px;
        margin-bottom: 370px;
    }
    /* Review styles */
    .review{
        display: block;
    }
    .left-div{
        max-width: 100%;
        padding: 30px;
    }
    .left-div h3{
        font-size: 30px;
        
        
    }
    .core-clients-flex{
        display: grid;
        grid-template-columns: repeat(2,3fr);

    }
    .core-clients-logo-third-logo{
        visibility: hidden;
    }
    .slider-container {
        
        margin-top: 0px;
    }
    /*  Our blog section styles */
    .blog{
        margin: 0px 15px;
    }
    .our-blog h2{
        font-size: 25px;
    }
    .btn-view-all{
        font-size: 15px;
        padding: 5px 10px;
    }
    /* Image part */
    .our-blog-images{
        display: block;
        
    }
    .our-blog-image-one, .our-blog-image-two, .our-blog-image-three{
        width: 100%;
        padding: 10px;
    }
    .our-blog-images h3{
        font-size: 20px;
    }

    /* Google Map styles */
    .google-map-logo-container{
        visibility: hidden;
    }
    /* Cards style */
    .contact-cards{
        
        position: static;
        
    }
    .contact-cards{
        display: block;
        
    }
    .card-1, .card-2, .card-3{
        margin-bottom: 20px;
    }
    /* Footer styles */
    .footer-section{
        display: block;
        padding-left: 40px ;
        
    }
    .footer{
   
        padding: 50px;
    }
    .footer-done{
        display: block
    }




}
  